{#
  nhswActionLink(params) - a prominent link with a blue circle arrow icon,
  used for signposting to services.

  params:
    text        string  - link text (used if html is not set)
    html        string  - link HTML (takes precedence over text)
    href        string  (required) - link destination
    classes     string  - extra classes, e.g. "nhsw-action-link--reverse"
    attributes  object  - extra HTML attributes
#}
{%- macro nhswActionLink(params) -%}
<a class="nhsw-action-link{% if params.classes %} {{ params.classes }}{% endif %}" href="{{ params.href }}"{% for name, value in (params.attributes or {}) %} {{ name }}="{{ value }}"{% endfor %}>
  <svg class="nhsw-action-link__icon" viewBox="0 0 24 24" width="36" height="36" focusable="false" aria-hidden="true">
    <path d="M12 2a10 10 0 0 0-10 9h11.7l-4-4a1 1 0 0 1 1.5-1.4l5.6 5.7a1 1 0 0 1 0 1.4l-5.6 5.7a1 1 0 0 1-1.5 0 1 1 0 0 1 0-1.4l4-4H2A10 10 0 1 0 12 2z" />
  </svg>
  <span class="nhsw-action-link__text">{{ params.html | safe if params.html else params.text }}</span>
</a>
{%- endmacro -%}
