@use "../tokens/colours" as c;

@mixin nhsw-focus-ring {
    outline: 3px solid c.$nhsw-colour-input-focus;
    outline-offset: 0;
}

@mixin nhsw-choice-input-focus-ring {
    outline: 3px solid c.$nhsw-colour-focus;
    outline-offset: 1px;
    box-shadow: 0 0 0 4px c.$nhsw-colour-focus;
    border-color: c.$nhsw-colour-border-primary;
    border-width: 4px;
}

@mixin nhsw-link-focus-state($text-colour: null) {
    background-color: c.$nhsw-colour-focus;
    border-bottom: max(4px, 0.25rem) solid c.$nhsw-colour-text-primary;

    @if $text-colour {
        color: $text-colour;
    }
}
