@use "../../tokens/colours" as c;

.nhsw-code-example {
  margin-bottom: 24px;

  pre {
    background-color: c.$nhsw-colour-background-grey;
    border-left: 4px solid c.$nhsw-colour-border-grey;
    padding: 16px;
    overflow-x: auto;
    margin: 0;
    white-space: pre;
  }

  code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.875rem;
    line-height: 1.5;
    color: c.$nhsw-colour-text-primary;
  }
}
