@use "../../tokens/colours" as c;

.nhsw-inset-text {
  margin: 0 0 2rem;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  border-left: 0.5rem solid c.$nhsw-colour-border-gold;
  max-width: 40rem;
}

.nhsw-inset-text > :last-child {
  margin-bottom: 0;
}

// Colour variants — one per main DHCW colour token
.nhsw-inset-text--navy    { border-left-color: c.$nhsw-colour-background-blue; }
.nhsw-inset-text--blue    { border-left-color: c.$nhsw-colour-link; }
.nhsw-inset-text--grey    { border-left-color: c.$nhsw-colour-border-secondary; }
.nhsw-inset-text--red     { border-left-color: c.$nhsw-colour-button-delete; }
.nhsw-inset-text--yellow  { border-left-color: c.$nhsw-colour-warning-callout-heading; }
