@use "sass:color";
@use "../../tokens/colours" as c;
@use "../../tokens/typography" as t;
@use "../../utilities/focus-ring" as u;

// ─── Tabs ─────────────────────────────────────────────────────────────────────
// Usage:
// <div class="nhsw-tabs">
//   <ul class="nhsw-tabs__list" role="tablist">
//     <li role="presentation">
//       <button class="nhsw-tabs__tab nhsw-tabs__tab--selected" role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1">Overview</button>
//     </li>
//     <li role="presentation">
//       <button class="nhsw-tabs__tab" role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2">Examples</button>
//     </li>
//   </ul>
//   <div class="nhsw-tabs__panel" id="panel-1" role="tabpanel" aria-labelledby="tab-1">...</div>
//   <div class="nhsw-tabs__panel nhsw-tabs__panel--hidden" id="panel-2" role="tabpanel" aria-labelledby="tab-2">...</div>
// </div>

.nhsw-tabs__list {
  display: flex;
  align-items: flex-end;
  gap: 0.25rem;
  list-style: none;
  margin: 0 0 0;
  padding: 0;
  border-bottom: 1px solid c.$nhsw-colour-border-grey;
}

.nhsw-tabs__tab {
  display: block;
  padding: 0.5rem 1rem;
  background-color: c.$nhsw-colour-border-grey;
  border: none;
  color: c.$nhsw-colour-text-primary;
  font-family: t.$nhsw-font-family-base;
  font-size: t.$nhsw-font-size-body-small;
  line-height: 1.6875rem;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    background-color: color.adjust(c.$nhsw-colour-border-grey, $lightness: -8%);
    text-decoration-thickness: 3px;
  }

  &:focus {
    @include u.nhsw-focus-ring;
    outline-offset: -3px;
  }

  &--selected {
    padding: 0.75rem 1rem;
    background-color: c.$nhsw-colour-background-white;
    border: 1px solid c.$nhsw-colour-border-grey;
    border-bottom: 1px solid c.$nhsw-colour-background-white;
    margin-bottom: -1px;
    text-decoration: none;
    font-weight: t.$nhsw-font-weight-regular;
  }
}

.nhsw-tabs__panel {
  background-color: c.$nhsw-colour-background-white;
  border: 1px solid c.$nhsw-colour-border-grey;
  border-top: none;
  padding: 2rem;

  &--hidden {
    display: none;
  }
}
