@use "../../tokens/colours" as c;

.nhsw-timeout-modal {
  position: static;
  max-width: 25rem;
  margin: 0;
  padding: 24px;
  border: 1px solid c.$nhsw-colour-border-grey;

  &::backdrop {
    background-color: rgba(11, 12, 12, 0.6);
  }

  &:not([open]) {
    display: none;
  }

  &__title {
    margin: 0 0 8px;
  }

  &__text {
    margin: 0 0 16px;
  }
}
