@use "../../tokens/colours" as c;

.nhsw-warning-text {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
  padding-left: 44px;
}

.nhsw-warning-text__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: c.$nhsw-colour-button-primary;
  color: c.$nhsw-colour-text-exceptional;
  font-weight: 700;
  font-style: normal;
}

.nhsw-warning-text__text {
  color: c.$nhsw-colour-text-primary;
  font-weight: 700;
}

.nhsw-warning-text--on-dark {
  .nhsw-warning-text__icon {
    background-color: c.$nhsw-colour-background-white;
    color: c.$nhsw-colour-button-primary;
  }

  .nhsw-warning-text__text {
    color: c.$nhsw-colour-text-exceptional;
  }
}
