@use "../../tokens/colours" as c;

.nhsw-skip-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 12px 16px;
  background-color: c.$nhsw-colour-focus;
  color: c.$nhsw-colour-focus-text;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(-100%);

  &:focus {
    outline: none;
    transform: translateY(0);
    box-shadow: 0 4px 0 c.$nhsw-colour-border-primary;
  }
}
