---
layout: component
title: Back link
container: fluid
updated: March 2026
intro: Use back links to help users go back to the previous page in a multi-page transaction.
tabs:
  - id: overview
    label: Overview
  - id: how-to-use
    label: "Back link variants: How to use"
  - id: examples
    label: Examples
  - id: accessibility
    label: Accessibility
---

<!-- Overview -->
<div class="nhsw-tabs__panel" id="panel-overview" role="tabpanel" aria-labelledby="tab-overview">

  {% capture example_body %}{% raw %}
    <a class="nhsw-back-link" href="#">Back</a>
  {% endraw %}{% endcapture %}
  {% include example-preview.html id="bl-overview" open_url="/examples/back-link-default.html" body=example_body %}

  {% capture html_sample %}{% raw %}&lt;a class="nhsw-back-link" href="/previous-page"&gt;Back&lt;/a&gt;{% endraw %}{% endcapture %}
  {% capture njk_sample %}{% raw %}{% from "back-link/macro.njk" import nhswBackLink %}

{{ nhswBackLink({
  text: "Back",
  href: "/previous-page"
}) }}{% endraw %}{% endcapture %}
  {% include code-viewer.html id="bl-overview" html=html_sample njk=njk_sample toggleable=true %}

  <h2 class="nhsw-h2">Overview</h2>

  <h3 class="nhsw-h3">When to use a back link</h3>
  <p class="nhsw-body">We only use back links on transactional services or multi-page forms.</p>
  <p class="nhsw-body">The <a class="nhsw-link" href="#">GOV.UK design system</a> recommends including a back link on question pages. Read more about <a class="nhsw-link" href="#">question pages on GOV.UK</a>.</p>
  <p class="nhsw-body">You can include a back link on other pages in a multi-page transaction, if it makes sense to do so.</p>
  <p class="nhsw-body">Use buttons to start transactional journeys and carry out actions, like saving information.</p>

  <h3 class="nhsw-h3">When not to use a back link</h3>
  <p class="nhsw-body">Do not use a back link on a content page, like a health information page.</p>
  <p class="nhsw-body">Do not use a back link with <a class="nhsw-link" href="{{ '/actions/breadcrumb.html' | relative_url }}">breadcrumbs</a>.</p>

  <h3 class="nhsw-h3">Source</h3>
  <p class="nhsw-body">Learn more about <a class="nhsw-link" href="#">Back links in the GOV.UK Design System</a>.</p>
  <p class="nhsw-body">Follow discussions about <a class="nhsw-link" href="#">Back links on GOV.UK GitHub</a> to see the latest updates and resolved issues.</p>

  <div class="nhsw-tabs__pagination">
    <a class="nhsw-link nhsw-tabs__pagination-link nhsw-tabs__pagination-link--next" href="#panel-how-to-use" onclick="document.getElementById('tab-how-to-use').click(); return false;">
      Next &rarr;<br>
      <span class="nhsw-body-s">Back link variants: how to use</span>
    </a>
  </div>
</div>

<!-- Back link variants: how to use -->
<div class="nhsw-tabs__panel nhsw-tabs__panel--hidden" id="panel-how-to-use" role="tabpanel" aria-labelledby="tab-how-to-use">
  <h2 class="nhsw-h2">Back link variants: how to use</h2>

  <p class="nhsw-body">Make sure the text used in the link describes the action, for example "Back". Carry out research with users to find the words that help them the most.</p>
  <p class="nhsw-body">The link should take users back to the page they were on in the state they last saw it.</p>
  <p class="nhsw-body">Generally, the back link should go at the top left of the page.</p>
  <p class="nhsw-body">If you put the back link in a different position, do not put it close to other links or buttons where it might distract users from what they need to do. Also think about people who use a screen reader: is the page read out in a logical order?</p>

  <h3 class="nhsw-h3">Back link as a button</h3>
  <p class="nhsw-body">You can render the back link as a <code>button</code> element if necessary in order to post form data back to the previous page.</p>

  <section class="preview-section">
    <h3 class="nhsw-h3">Back link on dark backgrounds</h3>

    {% capture example_body %}{% raw %}
      <a class="nhsw-back-link nhsw-back-link--on-dark" href="#">Back</a>
    {% endraw %}{% endcapture %}
    {% include example-preview.html id="bl-dark" open_url="/examples/back-link-dark.html" body=example_body dark=true %}

    {% capture html_sample %}{% raw %}&lt;a class="nhsw-back-link nhsw-back-link--on-dark" href="/previous-page"&gt;Back&lt;/a&gt;{% endraw %}{% endcapture %}
    {% capture njk_sample %}{% raw %}{{ nhswBackLink({
  text: "Back",
  href: "/previous-page",
  classes: "nhsw-back-link--on-dark"
}) }}{% endraw %}{% endcapture %}
    {% include code-viewer.html id="bl-dark" html=html_sample njk=njk_sample toggleable=true %}

    <p class="nhsw-body">Make sure all users can see the back link. The background colour must have a contrast ratio of of at least 4.5:1 with white to meet <a class="nhsw-link" href="#">WCAG 2.2 success criterion 1.4.3 Contrast (minimum), level AA (W3C)</a>.</p>
  </section>

  <div class="nhsw-tabs__pagination">
    <a class="nhsw-link nhsw-tabs__pagination-link nhsw-tabs__pagination-link--prev" href="#panel-overview" onclick="document.getElementById('tab-overview').click(); return false;">
      &larr; Previous<br>
      <span class="nhsw-body-s">Overview</span>
    </a>
    <a class="nhsw-link nhsw-tabs__pagination-link nhsw-tabs__pagination-link--next" href="#panel-examples" onclick="document.getElementById('tab-examples').click(); return false;">
      Next &rarr;<br>
      <span class="nhsw-body-s">Examples</span>
    </a>
  </div>
</div>

<!-- Examples -->
<div class="nhsw-tabs__panel nhsw-tabs__panel--hidden" id="panel-examples" role="tabpanel" aria-labelledby="tab-examples">
  <h2 class="nhsw-h2">Examples</h2>

  <h3 class="nhsw-h3">School-age Immunisations</h3>
  <p class="nhsw-body">This example is from the School-age Immunisations service. It shows the back link at the top left of the page on multi-page forms</p>

  {% capture example_body %}{% raw %}
    <a class="nhsw-back-link" href="#">Back</a>
    <h2 class="nhsw-h2">If your child cannot have the nasal spray, do you agree to them having the injected vaccine instead?</h2>
    <p class="nhsw-body-s nhsw-body--secondary">We may decide the nasal spray vaccine is not suitable and offer the injected vaccine instead</p>
    <div class="nhsw-radios">
      <div class="nhsw-radios__item">
        <input class="nhsw-radios__input" id="immunisation-yes" name="immunisation" type="radio" value="yes">
        <label class="nhsw-label nhsw-radios__label" for="immunisation-yes">Yes</label>
      </div>
      <div class="nhsw-radios__item">
        <input class="nhsw-radios__input" id="immunisation-no" name="immunisation" type="radio" value="no">
        <label class="nhsw-label nhsw-radios__label" for="immunisation-no">No</label>
      </div>
    </div>
    <button class="nhsw-button" type="submit">Continue</button>
  {% endraw %}{% endcapture %}
  {% include example-preview.html id="bl-service" open_url="/examples/back-link-default.html" body=example_body %}

  <div class="nhsw-tabs__pagination">
    <a class="nhsw-link nhsw-tabs__pagination-link nhsw-tabs__pagination-link--prev" href="#panel-how-to-use" onclick="document.getElementById('tab-how-to-use').click(); return false;">
      &larr; Previous<br>
      <span class="nhsw-body-s">Back link variants: how to use</span>
    </a>
    <a class="nhsw-link nhsw-tabs__pagination-link nhsw-tabs__pagination-link--next" href="#panel-accessibility" onclick="document.getElementById('tab-accessibility').click(); return false;">
      Next &rarr;<br>
      <span class="nhsw-body-s">Accessibility</span>
    </a>
  </div>
</div>

<!-- Accessibility -->
<div class="nhsw-tabs__panel nhsw-tabs__panel--hidden" id="panel-accessibility" role="tabpanel" aria-labelledby="tab-accessibility">
  <h2 class="nhsw-h2">Accessibility</h2>

  <span class="nhsw-tag nhsw-tag--blue">WCAG 2.2</span>
  <p class="nhsw-body">If a user goes back to a previous page, make sure information they have already entered is pre-populated.</p>
  <p class="nhsw-body">Do not pre-populate if the information is no longer valid, or when pre-populating would be a major safety or security concern. This is to comply with <a class="nhsw-link" href="#">WCAG 2.2 Success Criterion 3.3.7 Redundant Entry, level A</a>.</p>

  <span class="nhsw-tag nhsw-tag--blue">WCAG 2.2</span>
  <p class="nhsw-body">Make sure no other interactive elements are too close to the back link so users can easily interact with it. This is to comply with <a class="nhsw-link" href="#">WCAG 2.2 Success Criterion 2.5.8 Target Size, level AA</a>.</p>

  <span class="nhsw-tag nhsw-tag--blue">WCAG 2.2</span>
  <p class="nhsw-body">When using the back link on a dark background, make sure all users can see it. The background colour must have a contrast ratio of at least 4.5:1 with white to meet <a class="nhsw-link" href="#">WCAG 2.2 Success Criterion 1.4.3 Contrast (Minimum), level AA</a>.</p>

  <div class="nhsw-tabs__pagination">
    <a class="nhsw-link nhsw-tabs__pagination-link nhsw-tabs__pagination-link--prev" href="#panel-examples" onclick="document.getElementById('tab-examples').click(); return false;">
      &larr; Previous<br>
      <span class="nhsw-body-s">Examples</span>
    </a>
  </div>
</div>
