---
layout: simple
title: All DHCW components
container: fluid
---
<h1 class="nhsw-h1">All DHCW components</h1>
<p class="nhsw-body">Components are reusable parts of a user interface that have been made to support a variety of applications. Individual components can be used in multiple different pages, patterns and context.</p>

<div class="nhsw-grid-row">

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/action-link.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Action link</h3>
      <p class="nhsw-card__description">Use buttons to help users carry out an action on a page like starting an application or saving their progress.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/actions/action-link.html' | relative_url }}">View the 'Action link' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/back-link.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Back link</h3>
      <p class="nhsw-card__description">Use back links to help users go back to the previous page in a multi-page transaction.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/actions/back-link.html' | relative_url }}">View the 'Back link' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/breadcrumb.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Breadcrumbs</h3>
      <p class="nhsw-card__description">Use breadcrumbs to help users understand where they are in the website.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/actions/breadcrumb.html' | relative_url }}">View the 'Breadcrumbs' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/buttons.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Buttons</h3>
      <p class="nhsw-card__description">Use buttons to help users carry out an action on a page like starting an application or saving their progress.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/components/buttons.html' | relative_url }}">View the 'Buttons' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/checkboxes.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Checkboxes</h3>
      <p class="nhsw-card__description">Use checkboxes to let users select 1 or more options on a form.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/forms/checkboxes.html' | relative_url }}">View the 'Checkboxes' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/warning-callout.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Callouts</h3>
      <p class="nhsw-card__description">Use a warning callout to help users identify very important content on the page, even if they do not read the whole page.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/callouts/warning-callout.html' | relative_url }}">View the 'Callouts' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/cards.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Cards</h3>
      <p class="nhsw-card__description">Use a card to visually group related content and actions to help users do what they need to more quickly.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/content/cards.html' | relative_url }}">View the 'Cards' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/expander.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Expander</h3>
      <p class="nhsw-card__description">Make a complex topic easier to digest by letting users reveal more detailed information only if they need it.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/actions/expander.html' | relative_url }}">View the 'Expander' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/details.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Details</h3>
      <p class="nhsw-card__description">Make a page easier to scan by letting users reveal more detailed information only if they need it.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/content/details.html' | relative_url }}">View the 'Details' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/date-input.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Date input</h3>
      <p class="nhsw-card__description">Use date input to help users enter a memorable date, like their date of birth.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/forms/date-input.html' | relative_url }}">View the 'Date input' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/error-summary.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Error summary</h3>
      <p class="nhsw-card__description">Include an error summary at the top of a page to summarise any mistakes a user has made.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/actions/error-summary.html' | relative_url }}">View the 'Error summary' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/file-upload.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">File upload</h3>
      <p class="nhsw-card__description">Help users select and upload a file.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/actions/file-upload.html' | relative_url }}">View the 'File upload' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/footer.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Footer</h3>
      <p class="nhsw-card__description">Use the footer to show users they are on an NHS service and to help them find links they expect at the bottom of our pages.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/site/footer.html' | relative_url }}">View the 'Footer' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/header.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">DHCW header</h3>
      <p class="nhsw-card__description">Use the appropriate header at the top of every page to show users they are on an NHS service and help them get started in finding what they need.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/site/header.html' | relative_url }}">View the 'Header' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/inset-text.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Inset text</h3>
      <p class="nhsw-card__description">Use inset text to help users identify and understand important content on the page, even if they do not read the whole page.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/content/inset-text.html' | relative_url }}">View the 'Inset text' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/notification-banner.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Notification banners</h3>
      <p class="nhsw-card__description">Use a notification banner to tell the user something they need to know that's not directly related to the page content.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/callouts/notification-banner.html' | relative_url }}">View the 'Notification banners' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/pagination.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Pagination</h3>
      <p class="nhsw-card__description">Use pagination to help users navigate forwards and backwards through a series of pages.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/content/pagination.html' | relative_url }}">View the 'Pagination' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/panel.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Panel</h3>
      <p class="nhsw-card__description">The panel component is a visible container used on confirmation or results pages to highlight important content.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/content/panel.html' | relative_url }}">View the 'Panel' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/radios.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Radios</h3>
      <p class="nhsw-card__description">Use radios when you want users to select only 1 option from a list.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/forms/radios.html' | relative_url }}">View the 'Radios' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/select.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Select</h3>
      <p class="nhsw-card__description">Use select to let users choose an option from a long list but only use it as a last resort.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/forms/select.html' | relative_url }}">View the 'Select' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/site-navigation.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Site navigation</h3>
      <p class="nhsw-card__description">Site navigation gives users an overview of a site's content by outlining its main categories. It can also help users find key content.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/site/site-navigation.html' | relative_url }}">View the 'Site navigation' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/skip-link.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Skip link</h3>
      <p class="nhsw-card__description">Use the skip link component to help keyboard-only users skip to the start of the content on a page.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/actions/skip-link.html' | relative_url }}">View the 'Skip link' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/summary-list.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Summary list</h3>
      <p class="nhsw-card__description">Use the summary list to summarise information, for example, a user's responses at the end of a form.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/content/summary-list.html' | relative_url }}">View the 'Summary list' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/table.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Table</h3>
      <p class="nhsw-card__description">Use a table to make it easier for users to compare and scan information.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/content/table.html' | relative_url }}">View the 'Table' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/tabs.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Tabs</h3>
      <p class="nhsw-card__description">Use tabs to let users navigate between related sections of content, displaying 1 section at a time.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/content/tabs.html' | relative_url }}">View the 'Tabs' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/tag.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Tag</h3>
      <p class="nhsw-card__description">Use tag to show users the status of something.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/content/tag.html' | relative_url }}">View the 'Tag' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/textarea.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Textarea</h3>
      <p class="nhsw-card__description">Use textarea to let users enter more than 1 line of text.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/forms/textarea.html' | relative_url }}">View the 'Textarea' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/text-input.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Text input</h3>
      <p class="nhsw-card__description">Use text input to let users enter a single line of text.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/forms/input.html' | relative_url }}">View the 'Text input' documentation</a></p>
    </div>
  </div>

  <div class="nhsw-grid-column-one-third">
    <div class="nhsw-card nhsw-card--flat">
      <div class="nhsw-card__preview">
        <img class="nhsw-card__preview-image" src="{{ '/assets/component-previews/warning-text.png' | relative_url }}" alt="">
      </div>
      <h3 class="nhsw-card__title">Warning text</h3>
      <p class="nhsw-card__description">Use warning text when you need to warn users about something important, such as legal consequences of an action, or lack of action, that they might take.</p>
      <p class="nhsw-body"><a class="nhsw-link" href="{{ '/callouts/warning-text.html' | relative_url }}">View the 'Warning text' documentation</a></p>
    </div>
  </div>

</div>
