<nav class="nhsw-breadcrumb" aria-label="breadcrumb">
  <p class="nhsw-breadcrumb__mobile-back">
    <a class="nhsw-link" href="{{ '/components/index.html' | relative_url }}">&larr; Back to Components</a>
  </p>
  <ol class="nhsw-breadcrumb__list">
    <li class="nhsw-breadcrumb__item"><a class="nhsw-breadcrumb__link" href="{{ '/index.html' | relative_url }}">Home</a></li>
    <li class="nhsw-breadcrumb__item"><a class="nhsw-breadcrumb__link" href="{{ '/components/index.html' | relative_url }}">Components</a></li>
  </ol>
</nav>
