$nhsw-colour-text-primary: #212b32;
$nhsw-colour-text-secondary: #4c6272;
$nhsw-colour-text-exceptional: #ffffff;
$nhsw-colour-text-blue: #1b365d;

$nhsw-colour-link: #005aa8;

$nhsw-colour-button-primary: #1b365d;
$nhsw-colour-button-primary-hover: #1B2A49;
$nhsw-colour-button-primary-hover-box-shadow: #1B2A49;
$nhsw-colour-button-primary-active: #21355C;
$nhsw-colour-button-secondary: #4c6272;
$nhsw-colour-button-secondary-hover: #F2F2F2;
$nhsw-colour-button-secondary-hover-box-shadow: #212B32;
$nhsw-colour-button-secondary-active: #32414C;
$nhsw-colour-button-outline: #FFFFFF;
$nhsw-colour-button-outline-hover: #F2F2F2;
$nhsw-colour-button-outline-hover-box-shadow: #4C6272;
$nhsw-colour-button-outline-hover-border: #4C6272;
$nhsw-colour-button-outline-active: #FFFFFF;
$nhsw-colour-button-delete: #d5281b;
$nhsw-colour-button-delete-hover: #902419;
$nhsw-colour-button-delete-hover-box-shadow: #760000;

$nhsw-colour-button-delete-active: #651911;
$nhsw-colour-button-exceptional-light: #f5bb66;
$nhsw-colour-button-exceptional-light-hover: #E3B36A;
$nhsw-colour-button-exceptional-light-active: #EFBD70;

$nhsw-colour-background-grey: #f0f4f5;
$nhsw-colour-background-white: #ffffff;
$nhsw-colour-background-blue: #1b365d;

$nhsw-colour-border-primary: #212b32;
$nhsw-colour-border-secondary: #4c6272;
$nhsw-colour-border-grey: #d8dde0;
$nhsw-colour-border-gold: #aa8630;

$nhsw-colour-shadow-primary-button: #0e1b2f;
$nhsw-colour-shadow-exceptional-button: #554318;

$nhsw-colour-focus: #ffeb3b;

$nhsw-colour-warning-callout-background: #fef9c3;
$nhsw-colour-warning-callout-heading: #facc15;

$nhsw-colour-input-text: $nhsw-colour-text-primary;
$nhsw-colour-input-placeholder: $nhsw-colour-text-secondary;
$nhsw-colour-input-background: $nhsw-colour-background-white;
$nhsw-colour-input-border: $nhsw-colour-border-secondary;
$nhsw-colour-input-border-hover: $nhsw-colour-border-primary;
$nhsw-colour-input-focus: $nhsw-colour-focus;
$nhsw-colour-input-invalid: $nhsw-colour-button-delete;
$nhsw-colour-input-disabled-background: $nhsw-colour-background-grey;
$nhsw-colour-input-disabled-text: $nhsw-colour-text-secondary;

$nhsw-colour-link: #005eb8;
$nhsw-colour-link-visited: #7c2855;
$nhsw-colour-link-hover: #003087;
$nhsw-colour-focus: #ffeb3b;
$nhsw-colour-focus-text: #0b0c0c;$nhsw-colour-site-header-background: #005eb8;
$nhsw-colour-site-header-border: #337ec6;
$nhsw-colour-site-footer-background: #d8dde0;
$nhsw-colour-site-footer-border: #005eb8;
