$nhsw-font-family-base: Roboto, Arial, sans-serif;

$nhsw-font-weight-regular: 400;
$nhsw-font-weight-bold: 700;

// mobile
$nhsw-font-size-h1-mobile: 2rem;
$nhsw-line-height-h1-mobile: 2.375rem;

$nhsw-font-size-h2-mobile: 1.6875rem;
$nhsw-line-height-h2-mobile: 2.0625rem;

$nhsw-font-size-h3-mobile: 1.375rem;
$nhsw-line-height-h3-mobile: 1.8125rem;

$nhsw-font-size-h4-mobile: 1.1875rem;
$nhsw-line-height-h4-mobile: 1.6875rem;

$nhsw-font-size-h5-mobile: 1rem;
$nhsw-line-height-h5-mobile: 1.5rem;

$nhsw-font-size-body-mobile: 1rem;
$nhsw-line-height-body-mobile: 1.5rem;

// desktop / tablet
$nhsw-font-size-h1: 3rem;
$nhsw-line-height-h1: 3.375rem;

$nhsw-font-size-h2: 2.25rem;
$nhsw-line-height-h2: 2.625rem;

$nhsw-font-size-h3: 1.625rem;
$nhsw-line-height-h3: 2rem;

$nhsw-font-size-h4: 1.375rem;
$nhsw-line-height-h4: 1.875rem;

$nhsw-font-size-h5: 1.1875rem;
$nhsw-line-height-h5: 1.75rem;

$nhsw-font-size-body: 1.1875rem;
$nhsw-line-height-body: 1.75rem;

$nhsw-font-size-body-small: 1rem;
$nhsw-line-height-body-small: 1.5rem;
