@use "../tokens/spacing" as s;
@use "../utilities/breakpoints" as b;

.nhsw-main-wrapper {
  display: block;
  padding-top: s.$nhsw-main-wrapper-padding-mobile;
  padding-bottom: s.$nhsw-main-wrapper-padding-mobile;

  @include b.nhsw-from-tablet {
    padding-top: s.$nhsw-main-wrapper-padding-tablet;
    padding-bottom: s.$nhsw-main-wrapper-padding-tablet;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.nhsw-main-wrapper--s {
  padding-top: s.$nhsw-main-wrapper-padding-small-mobile;
  padding-bottom: s.$nhsw-main-wrapper-padding-small-mobile;

  @include b.nhsw-from-tablet {
    padding-top: s.$nhsw-main-wrapper-padding-small-tablet;
    padding-bottom: s.$nhsw-main-wrapper-padding-small-tablet;
  }
}

.nhsw-main-wrapper--l {
  padding-top: s.$nhsw-main-wrapper-padding-large-mobile;
  padding-bottom: s.$nhsw-main-wrapper-padding-large-mobile;

  @include b.nhsw-from-tablet {
    padding-top: s.$nhsw-main-wrapper-padding-large-tablet;
    padding-bottom: s.$nhsw-main-wrapper-padding-large-tablet;
  }
}
