---
layout: default
---
<main class="nhsw-main-wrapper" id="maincontent">
  <div class="{% if page.container == 'fluid' %}nhsw-fluid-container{% else %}nhsw-width-container{% endif %}">

    <div class="nhsw-layout">

      {% include side-nav.html %}

      <div class="nhsw-layout__content">

        {% include breadcrumb.html %}

        <h1 class="nhsw-h1">{{ page.title }}</h1>
        {% if page.updated %}<p class="nhsw-body nhsw-body--secondary">Updated in {{ page.updated }}</p>{% endif %}
        <p class="nhsw-body">{{ page.intro }}</p>

        <div class="nhsw-tabs">
          {% include tabs-nav.html %}

          {{ content }}
        </div>

      </div>

    </div>

  </div>
</main>
