@use "../../tokens/colours" as c;
@use "../../tokens/typography" as t;
@use "../../utilities/focus-ring" as u;
@use "../../utilities/breakpoints" as b;

$nhsw-colour-action-green: #007f3b;
$nhsw-colour-action-green-hover: #00662f;

.nhsw-action-link {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  text-decoration: none;

  &:hover {
    .nhsw-action-link__text {
      text-decoration: underline;
      text-decoration-thickness: max(3px, 0.1875rem);
      text-underline-offset: 0.12em;
    }

    .nhsw-action-link__icon {
      fill: $nhsw-colour-action-green-hover;
    }
  }

  &:focus {
    @include u.nhsw-focus-ring;
    background-color: c.$nhsw-colour-focus;

    .nhsw-action-link__text {
      color: c.$nhsw-colour-focus-text;
      text-decoration: none;
    }

    .nhsw-action-link__icon {
      fill: c.$nhsw-colour-focus-text;
    }
  }

  &:visited {
    .nhsw-action-link__text {
      color: c.$nhsw-colour-text-primary;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    fill: $nhsw-colour-action-green;
  }

  &__text {
    color: c.$nhsw-colour-text-primary;
    font-size: t.$nhsw-font-size-h4-mobile;
    font-weight: t.$nhsw-font-weight-bold;
    line-height: t.$nhsw-line-height-h4-mobile;

    @include b.nhsw-from-tablet {
      font-size: t.$nhsw-font-size-h4;
      line-height: t.$nhsw-line-height-h4;
    }
  }

  &--blue {
    .nhsw-action-link__icon {
      fill: c.$nhsw-colour-link;
    }

    &:hover .nhsw-action-link__icon {
      fill: c.$nhsw-colour-link-hover;
    }
  }

  &--navy {
    .nhsw-action-link__icon {
      fill: c.$nhsw-colour-button-primary;
    }

    &:hover .nhsw-action-link__icon {
      fill: c.$nhsw-colour-button-primary-hover;
    }
  }

  &--red {
    .nhsw-action-link__icon {
      fill: c.$nhsw-colour-button-delete;
    }

    &:hover .nhsw-action-link__icon {
      fill: c.$nhsw-colour-button-delete-hover;
    }
  }

  &--on-dark {
    .nhsw-action-link__icon {
      fill: c.$nhsw-colour-background-white;
    }

    .nhsw-action-link__text {
      color: c.$nhsw-colour-text-exceptional;
    }

    &:visited .nhsw-action-link__text {
      color: c.$nhsw-colour-text-exceptional;
    }

    &:hover .nhsw-action-link__icon {
      fill: c.$nhsw-colour-background-white;
    }
  }
}
