@use "../../tokens/colours" as c;
@use "../../utilities/focus-ring" as u;

.nhsw-file-upload {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 2px dashed c.$nhsw-colour-border-grey;
}

.nhsw-file-upload__status {
  display: block;
  padding: 10px 12px;
  background-color: c.$nhsw-colour-background-grey;
  color: c.$nhsw-colour-text-secondary;
}

.nhsw-file-upload__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nhsw-file-upload__button {
  flex-shrink: 0;
}

.nhsw-file-upload__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;

  &:focus + .nhsw-file-upload__button {
    @include u.nhsw-focus-ring;
  }
}

.nhsw-file-upload__hint {
  color: c.$nhsw-colour-text-secondary;
}

.nhsw-file-upload--reverse {
  .nhsw-file-upload__actions {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
