@use "../../tokens/colours" as c;

.nhsw-input-wrapper {
  display: inline-flex;
  align-items: stretch;

  .nhsw-input {
    flex: 0 1 auto;
  }

  &__prefix,
  &__suffix {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 2px solid c.$nhsw-colour-input-border;
    background-color: c.$nhsw-colour-border-grey;
    color: c.$nhsw-colour-text-primary;
    font-family: inherit;
    font-size: 1.1875rem;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
  }

  &__prefix {
    border-right: 0;
  }

  &__suffix {
    border-left: 0;
  }
}
