@use "../../tokens/colours" as c;
@use "../../tokens/typography" as t;
@use "../../utilities/focus-ring" as u;

.nhsw-radios {
  margin-bottom: 8px;

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 6px;
    padding-left: 52px;
    position: relative;

    &:hover {
      background-color: c.$nhsw-colour-background-grey;
    }
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    margin: 0;
    opacity: 0;
    cursor: pointer;

    &:focus + .nhsw-radios__label::before {
      outline: 3px solid c.$nhsw-colour-focus;
      outline-offset: 1px;
      box-shadow: 0 0 0 4px c.$nhsw-colour-focus;
      border-color: c.$nhsw-colour-border-primary;
      border-width: 4px;
    }

    &:checked + .nhsw-radios__label::after {
      opacity: 1;
    }

    &:disabled {
      cursor: not-allowed;

      + .nhsw-radios__label {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  &__label {
    display: inline-block;
    padding: 8px 16px 0 0;
    cursor: pointer;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.1875rem;
    font-weight: t.$nhsw-font-weight-regular;
    line-height: 1.5;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      border: 2px solid c.$nhsw-colour-input-border;
      border-radius: 50%;
      background: c.$nhsw-colour-input-background;
    }

    &::after {
      content: "";
      position: absolute;
      left: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: c.$nhsw-colour-text-primary;
      opacity: 0;
    }
  }

  &__hint {
    display: block;
    width: 100%;
    padding: 0 16px 4px 0;
    margin: 0;
    color: c.$nhsw-colour-text-secondary;
    font-size: 1.1875rem;
    font-weight: 400;
    line-height: 24px;
  }

  &__divider {
    width: 40px;
    margin-bottom: 16px;
    color: c.$nhsw-colour-text-primary;
    font-size: 1.1875rem;
    font-weight: 400;
    text-align: center;
  }

  &__conditional {
    margin-bottom: 16px;
    margin-left: 18px;
    padding-left: 20px;
    border-left: 4px solid c.$nhsw-colour-border-secondary;

    &--hidden {
      display: none;
    }
  }

  &--inline {
    display: flex;
    flex-wrap: wrap;
    gap: 0 16px;

    .nhsw-radios__item {
      margin-right: 16px;
    }
  }

  &--small {
    .nhsw-radios__item {
      min-height: 24px;
      padding-left: 32px;
      margin-bottom: 8px;
    }

    .nhsw-radios__input {
      width: 24px;
      height: 24px;

      &:focus + .nhsw-radios__label::before {
        border-width: 3px;
      }
    }

    .nhsw-radios__label {
      padding-top: 2px;
      font-size: 1rem;

      &::before {
        width: 24px;
        height: 24px;
      }

      &::after {
        top: 6px;
        left: 6px;
        width: 12px;
        height: 12px;
      }
    }

    .nhsw-radios__hint {
      font-size: 1rem;
    }
  }
}
